<section class="wrapper">
    <div class="row mt">
<!--REGISTRO-->
<div class="col-lg-6 col-md-6 col-sm-12">
<div class="showback">
<h4 class="text-warning">Datos personales</h4>
<hr class="divider">

<form class="form-group">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
    <input id="email" type="text" class="form-control" name="email" placeholder="Cedula de identidad" ng-model="cedula">
  </div>
<hr class="divider">
<div class="form-group">
  <label for="usr">Password</label>
  <input type="text" class="form-control" id="usr" ng-model="password">
</div>
<hr class="divider">

<div class="form-group">
  <label for="usr">Nombre</label>
  <input type="text" class="form-control" id="usr" ng-model="nombre">
</div>
<div class="form-group"> 
  <label for="pwd">Apellido</label>
  <input type="text" class="form-control" id="pwd" ng-model="apellido">
</div>

<div class="form-group">
<label for="usr">Cargo</label>
<input type="text" class="form-control" id="usr" ng-model="cargo" value="ENCARGADO" placeholder="ENCARGADO" disabled="true">
</div>

<button class="btn btn-sm btn-primary btn-block" ng-click="newEncargado(nombre, password, apellido, cargo, cedula, avenida, calle, casa, correo, numero_telefono, punto_referencia)">Registrar Encargado</button>
<hr class="divider">

</form>

</div>
</div>

<!--UBICACION-->
<div class="col-lg-6 col-md-6 col-sm-12">
<div class="showback">
<h4 class="text-warning">Contactos</h4>

<hr class="divider">

<strong>Direccion</strong>
<hr class="divider">
<div class="row">
<div class="col-md-4">
<div class="form-group">
  <label for="usr">Avenida</label>
  <input type="text" class="form-control" id="usr" ng-model="avenida">
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label for="usr">Calle</label>
<input type="text" class="form-control" id="usr" ng-model="calle">
</div>
</div>

<div class="col-md-4">
<div class="form-group">
<label for="usr">Casa</label>
<input type="text" class="form-control" id="usr" ng-model="casa">
</div>
</div>

</div>
<hr class="divider">

<div class="form-group">
  <label for="usr">Email</label>
  <input type="email" class="form-control" id="usr" ng-model="correo">
</div>

<div class="row">
  <div class="col-md-6">
  <div class="form-group">
  <label for="usr">Numero de telefono</label>
  <input type="text" class="form-control" id="usr" ng-model="numero_telefono">
</div>
  </div>
   <div class="col-md-6">
     <div class="form-group">
  <label for="usr">Punto de referencia</label>
  <textarea type="text" class="form-control" id="usr" ng-model="punto_referencia"></textarea>
</div>
  </div>
</div>

<hr class="divider">


</div>
</div>

    </div>
</section>



