<section class="wrapper">
   <h4 class="text-center text-info">Registra una operacion</h4>
     
    <div class="row">
        <hr class="divider">

        <div class="row">
        <div class="container">
            <div class="col-sm-6">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                 <input id="codigo" type="text"  class="form-control" name="username" placeholder="Codigo del equipo" ng-model="codigo"  required>
                  <span class="input-group-btn">
                     <button class="btn btn-secondary" type="button" ng-click="findEquipo(codigo)"><span class="glyphicon glyphicon-search"></span></button>
                 </span>
                 </div>
            </div>
            <div class="col-sm-6">
                 <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                 <input id="codigo" type="text" class="form-control" name="username" placeholder="Cedula del operador" ng-model="operador.cedula" required>
                   <span class="input-group-btn">
                     <button class="btn btn-secondary" type="button" ng-click="addOperador(operador.cedula)"><span class="glyphicon glyphicon-search"></span></button>
                 </span>
                 </div>
            </div>
            </div>
        </div>
        <hr class="divider">
    
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                   <div class="container-fluid">
                   <div class="col-sm-12">
                    <hr class="divider">
                            <p class="text-info text-center">
                                ¡Si el Equipo no se encuentra, ingresar a la pestaña registrar Equipo!
                            </p>
                            <hr class="divider">
                        <table class="table table-condensed table-responsive">
                            <thead>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Marca</th>
                                <th>Seriales</th>
                                <th>Agregar</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td ng-model="equipo.codigo">{{equipoData.codigo}}</td>
                                    <td ng-model="equipo.nombre">{{equipoData.nombre}}</td>
                                    <td ng-model="equipo.modelo">{{equipoData.modelo}}</td>
                                    <td>
                                    <span class="label label-info label-mini" ng-model="equipo.serial_1">{{equipoData.serial_1}}</span> - <span class="label label-info label-mini" ng-model="equipo.serial_2">{{equipoData.serial_2}}</span>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-sm" ng-click="addEquipo(codigo)"><span class="glyphicon glyphicon-plus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  
                   </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container-fluid">
                            <hr class="divider">
                            <p class="text-info text-center">
                                ¡Si el operador no se encuentra, ingresar a la pestaña registrar operador!
                            </p>
                            <hr class="divider">

                            <table class="table table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{operadorData.cedula}}</td>
                                        <td>{{operadorData.nombre}}</td>
                                        <td>{{operadorData.apellido}}</td>
                                        <td class="text-center">
                                           <span class="glyphicon glyphicon-user text-success">
                                             
                                           </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


            </div>


        </div>


<hr class="divider">
<div class="row">
   
    <div class="col-sm-6">
    <div class="container-fluid">
       <div class="panel panel-success">
           <div class="panel-heading">
               <p class="pull-left">Productos en operacion para el operador:</p>
               <p class="pull-right text-warning">{{operadorData.nombre}}   {{operadorData.apellido}}</p>
               <br>
           </div>
           <div class="panel-body">
            <div class="container-fluid">
                  <table class="table table-responsive table-condensed table-striped">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Modelo</th>
                          <th>Seriales</th>
                          <th>STATUS</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="equipo in equiposReporte">
                          <td>{{equipo.nombre}}</td>
                          <td>{{equipo.modelo}}</td>
                          <td>
                          <span class="label label-info label-mini">{{equipo.serial_1}}</span> - <span class="label label-info label-mini">{{equipo.serial_2}}</span>
                          </td>
                          <td class="text-center">{{equipo.estado_equipo}}</td>

                      </tr>
                  </tbody>
              </table>  
            </div>
           </div>
           <div class="panel-footer">
               <button class="btn btn-block btn-sm btn-primary" ng-click="registrarOperacion(equiposReporte, operadorData)">Registrar operacion</button>
           </div>
       </div>
       </div>
    </div>
    <div class="col-sm-6">
    
     <div class="container-fluid">
        <div class="panel panel-success">
          <div class="panel-heading">
            <p class="text-center">Regresar Pedido</p>
          </div>
          <div class="panel-body">
           
             <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                 <input id="codigoDevolver" type="text"  class="form-control" name="codigo" placeholder="Codigo del equipo" ng-model="codigoDevolver"  required>
                  <span class="input-group-btn">
                     <button class="btn btn-success" type="button" ng-click="devolverEquipo(codigoDevolver, operadorData)"><span class="glyphicon glyphicon-arrow-right"></span></button>
                 </span>
            </div>
           
          </div>
          <div class="panel-footer">
            <p class="text-center text-info">Regresa los equipos prestados por la empresa</p>
          </div>
        </div>


     </div>
    </div>
</div>

    </div><!--/row -->
</section>
