<section class="wrapper site-min-height">
 <div class="row">
     <div class="col-md-12">
        <h3><i class="fa fa-angle-right"></i>USUARIOS - ADMINISTRAR</h3>
     </div>
    
 </div>
    <hr class="divider">
      <div class="row">
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Dar mismo valor a todos" name="">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
      </div>
    <hr class="divider">
    <br>
    <div class="row mt">
          
    <div class="container">
      <table class="table table-bordered table-condensed table-hover" id="reporte_tipo_documento">
   <thead>
     <tr>
       <th>ID de maquina</th>
       <th>Cedula de identidad</th>
       <th>Nombre</th>
       <th>Apellido</th>
       <th>Nivel</th>
       <th>Numero de paginas diarias</th>
       <th>Habilitar/Deshabilitar</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>123-456-789</td>
       <td>26185824</td>
       <td>Hector</td>
       <td>Gonzalez</td>
       <td>
         <select class="form-control">
           <option>Usuario</option>
           <option>Jefe</option>
           <option>Administrador</option>
         </select>
       </td>
       <td>
         <div class="row">
           <div class="col-md-6">
             <input type="text" class="form-control" placeholder="#" name="">
           </div>
           <div class="col-md-6">
             <button class="btn btn-sm btn-success btn-block"><span class="fa fa-check"></span></button>
           </div>
         </div>
       </td>
       <td>
         <button class="btn btn-sm btn-warning btn-block">Habilitar</button>
       </td>
     </tr>

      <tr>
       <td>123-456-789</td>
       <td>26185824</td>
       <td>Hector</td>
       <td>Gonzalez</td>
        <td>
         <select class="form-control">
           <option>Usuario</option>
           <option>Jefe</option>
           <option>Administrador</option>
         </select>
       </td>
       <td>
         <div class="row">
           <div class="col-md-6">
             <input type="text" class="form-control" placeholder="#" name="">
           </div>
           <div class="col-md-6">
             <button class="btn btn-sm btn-success btn-block"><span class="fa fa-check"></span></button>
           </div>
         </div>
       </td>
       <td>
         <button class="btn btn-sm btn-danger btn-block">Deshabilitar</button>
       </td>
     </tr>
      
       
   </tbody>
 </table>
 <hr class="divider">
    </div>
          
    </div><!-- /row -->


<!--MOdal EDITAR-->
  <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Editar OPERADOR</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form class="form-group">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
    <input id="email" type="text" class="form-control" name="email" placeholder="Cedula de identidad" ng-model="Modalcedula">
  </div>
<hr class="divider">

<div class="form-group">
  <label for="usr">Nombre</label>
  <input type="text" class="form-control" id="usr" ng-model="Modalnombre">
</div>
<div class="form-group"> 
  <label for="pwd">Apellido</label>
  <input type="text" class="form-control" id="pwd" ng-model="Modalapellido">
</div>

<div class="form-group">
<label for="usr">Cargo</label>
<input type="text" class="form-control" id="usr" ng-model="Modalcargo">
</div>

</form>
  </div>
  <div class="col-md-6">
                                        
  <h4>Contacto</h4>
<hr class="divider">

<div class="form-group">
  <label for="usr">Email</label>
  <input type="email" class="form-control" id="usr" ng-model="Modalcorreo">
</div>

<div class="row">
  <div class="col-md-6">
  <div class="form-group">
  <label for="usr">Numero de telefono</label>
  <input type="text" class="form-control" id="usr" ng-model="ModalTelefono">
</div>
  </div>

</div>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-success" ng-click="putChanges()">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </div>



<!--Modal ELIMINAR-->
<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Eliminar Operador</h4>
                            </div>
                            <div class="modal-body">
                                ¿Esta seguro que desea eliminar este operador?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteOp()">SI</button>
                            </div>
                        </div>
    </div>
</div>

<!-- Modal ver reportes -->
<div class="modal fade" id="ModalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Reportes del operador  <span class="pull-right"> {{OperadorNombre}} </span></h4>

                            </div>
                            <div class="modal-body">
                                <hr class="divider">
                                <table class="table table-condensed table-hover">
                                  <thead>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Modelo</th>
                                    <th>Fecha de salida</th>
                                    <!-- <th>Fecha de entrada</th> -->
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="report in OperadorReportes">
                                      <td class="text-info">{{report.codigo}}</td>
                                      <td>{{report.nombre}}</td>
                                      <td>{{report.modelo}}</td>
                                      <td>{{report.fecha_salida | date : "dd-MM-y"}}</td>
                                      <div ng-if="report.fecha_entrada == ''">
                                        <td><span class="label label-danger">Equipo sin devolver</span></td>
                                      </div>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">SALIR</button>
                            </div>  
                        </div>
    </div>
</div>




</section>
